.about{
    background-color: rgb(26, 188, 156);
}
h1{
    color: white;
    font-size:48px;
    font-weight: 700;
}
.line{
    height: 4px;
    width: 100px;
    background-color:white;
    
}
i{
    color: white;
}
.w-40{
    width: 40%;
}