.line{
    height: 4px;
    width: 100px;
    background-color:rgb(44, 62, 80);
    
}
i{
    color: rgb(44, 62, 80);
}
h1{
    color: rgb(44, 62, 80);
    font-size:48px;
    font-weight: 700;
}
input ,textarea{
    border: 0px;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}
label {
    font-weight: 400;
    font-size: 24px;
    color: rgb(73, 80, 87);
}
