<div class="container  py-5">
    <div class="row">
        <h1 class="text-center">CONTACT ME</h1>
        <div class="separator d-flex justify-content-center ">
            <div class="line  rounded  "></div>
            <div class="icon"><i class="fa-solid fa-star fa-xl"></i></div>
            <div class="line  rounded   "></div>
        </div>
    </div>
    <div class="forms ">
        <div class="row justify-content-center py-3">
            <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label ">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label ">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="mb-3 w-50">
                <label for="exampleFormControlInput1" class="form-label ">Phone Number</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="mb-3 w-50">
                <label for="exampleFormControlTextarea1" class="form-label">Massage</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
    
       <div class="row ">
        <div class="button d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-lg ">Send</button>
        </div>
       </div>


</div>