<div class="fotter py-5">
    <div class="container  text-center">
        <div class="row">
            <div class="col-md-4">
                <h4>location</h4>
                <p>2215 John Daniel Drive
                    Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h4>AROUND THE WEB</h4>
                <div class="row">
                    <div class="col-3 ">
                        <div class="border d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                    </div>
                    <div class="col-3">
                       <div class="border d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-twitter"></i>
                       </div>
                    </div>
                    <div class="col-3">
                       <div class="border d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-linkedin-in"></i>
                       </div>
                    </div>
                    <div class="col-3">
                        <div class="border d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-basketball"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>ABOUT FREELANCER</h4>
                <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
