<div class="container py-5">
    <div class="row text-center">
        <h1>PORTFOLIO</h1>
        <div class="separator d-flex justify-content-center ">
            <div class="line  rounded  "></div>
            <div class="icon"><i class="fa-solid fa-star fa-xl"></i></div>
            <div class="line  rounded   "></div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-4  ">
           <div class="container">
           <div class="inner position-relative">
            <img src="../../assets/img/cabin.jpg" alt="" class="w-100 rounded  ">
            <div class="cover rounded justify-content-center d-flex align-items-center">
                <i class="fa-solid fa-plus  fa-2xl text-white"></i>
            </div>
           </div>
           </div>
        </div>
        <div class="col-md-4  ">
            <div class="container">
             <div class="inner position-relative">
                <img src="../../assets/img/cake.png" alt="" class="w-100 rounded  ">
             <div class="cover rounded justify-content-center d-flex align-items-center">
                 <i class="fa-solid fa-plus  fa-2xl text-white"></i>
             </div>
             </div>
            </div>
         </div>
         <div class="col-md-4  ">
            <div class="container">
            <div class="inner position-relative">
                <img src="../../assets/img/circus.png" alt="" class="w-100 rounded  ">
                <div class="cover rounded justify-content-center d-flex align-items-center">
                    <i class="fa-solid fa-plus  fa-2xl text-white"></i>
                </div>
            </div>
            </div>
         </div>
       
    </div>
    <div class="row ">
        <div class="col-md-4  ">
           <div class="container">
            <div class="inner position-relative">
                <img src="../../assets/img/game.png" alt="" class="w-100 rounded  ">
            <div class="cover rounded justify-content-center d-flex align-items-center">
                <i class="fa-solid fa-plus  fa-2xl text-white"></i>
            </div>
            </div>
           </div>
        </div>
        <div class="col-md-4  ">
            <div class="container">
            <div class="inner position-relative">
                <img src="../../assets/img/safe.png" alt="" class="w-100 rounded  ">
                <div class="cover rounded justify-content-center d-flex align-items-center">
                    <i class="fa-solid fa-plus  fa-2xl text-white"></i>
                </div>
            </div>
            </div>
         </div>
         <div class="col-md-4  ">
            <div class="container">
             <div class="inner position-relative">
                <img src="../../assets/img/submarine.png" alt="" class="w-100 rounded  ">
             <div class="cover rounded justify-content-center d-flex align-items-center">
                 <i class="fa-solid fa-plus  fa-2xl text-white"></i>
             </div>
             </div>
            </div>
         </div>
       
    </div>
</div>
