<div class="home h-100 ">
    <div class="container text-center text-white py-5">
        <div class="row">
            <div class="img">
                <i class="fa-brands fa-angular rounded-circle "></i>
            </div>
            <h1>START ANGULAR</h1>
            <div class="separator d-flex justify-content-center ">
                <div class="line  rounded  "></div>
                <div class="icon"><i class="fa-solid fa-star fa-xl"></i></div>
                <div class="line  rounded   "></div>
            </div>
            <p class="p-3">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>